.main {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.welcome {
  margin-top: 2rem;

  h1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0.25rem;
  }

  .welcomeSubtitle {
    font-family: 'Utile Regular', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #E6E7E8;
    margin-bottom: 2rem;
  }
}

.historical {
  margin-top: 2rem;
}

.statGrid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.chartTitle {
  margin: 0 0 4px 0;
  font-size: 30px;
  font-weight: 400;
  color: #E6E7E8;
  font-family: 'Utile Regular', sans-serif;
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #008bce;
    margin-top: 0.4rem;
    border-radius: 1px;
  }
} 