.header {
  display: flex;
  align-items: center;
  background: #000000;
  height: 52px;
  min-height: 52px;
  max-height: 52px;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  height: 24px;
  
  img {
    max-height: 100%;
    width: auto;
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: auto;
}

.nav {
  display: flex;
  gap: 1.5rem;

  a {
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.2s;
    &:hover {
      color: var(--color-primary);
    }
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 400;
  margin-left: 1.5rem;
} 